<%= render "shared/header" %>
<div class = "main">
<%= render "shared/make" %>
  <div class ="feature">
    特徴から調べる
  </div>
    <ul class='reason-lists'>
      <li class='list'>

        <div class='topic1'>
          <%= link_to image_tag("sample1.png", class:"cocktail-icon"), "/" %>
            【定番】スタンダードカクテル
            <div class = "info">
              シンプル故に奥が深い。多くの店で提供されている定番の味
            </div >
        </div>
      </li>
      
      <li class='list'>
        <p class='topic2'>
          <%= link_to image_tag("sample.png", class:"cocktail-icon"), "/" %>
          【飲みやすい】女性におすすめカクテル
        </p>
      </li>
      <li class='list'>

        <p class='reason-list-description'>
          
        </p>
        
      </li>
    </ul>
</div>